<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>813879137966802611</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>473481618681529326</string>
		<key>run_directories</key>
		<string>water_1 water_2 water_3 water_4 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3679149</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
