<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>17736935169362425031</string>
		<key>run_input_hash</key>
		<string>7459262531115559116</string>
		<key>run_directories</key>
		<string>Water_Dimer_H3_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2268621</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
