<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>17356977380083172487</string>
		<key>run_input_hash</key>
		<string>11631685632012255303</string>
		<key>run_directories</key>
		<string>Formic_acid_dimer_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3763432</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
