<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>10486346074401111389</string>
		<key>run_input_hash</key>
		<string>9407598068631905252</string>
		<key>run_directories</key>
		<string>H2COH_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>1284731</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
