<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>14353433670350486884</string>
		<key>run_input_hash</key>
		<string>4225612579164029187</string>
		<key>run_directories</key>
		<string>cdh3_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3750289</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
