<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2242961006077339845</string>
		<key>run_directories</key>
		<string>CH3CH2O_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3222171</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
