<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5529397033598583903</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>12142069287181046672</string>
		<key>run_directories</key>
		<string>Ammonia_dimer_1 Ammonia_dimer_2 Ammonia_dimer_3 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2282325</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
