<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>13062252122362584895</string>
		<key>run_input_hash</key>
		<string>12556070141391626757</string>
		<key>run_directories</key>
		<string>d2o_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2725054</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
