<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7306552493783452821</string>
		<key>run_directories</key>
		<string>H2COH_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3216471</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
