<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>3991002921681492975</string>
		<key>run_input_hash</key>
		<string>7485529653693584331</string>
		<key>run_directories</key>
		<string>CH3Cl_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2287768</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
