<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4569504215726375837</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>165069684985054775</string>
		<key>run_directories</key>
		<string>H2O_1 H2O_2 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3751151</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
