<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>5897583758115127040</string>
		<key>run_input_hash</key>
		<string>13793445488989789460</string>
		<key>run_directories</key>
		<string>h2o_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2623677</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
