<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>15588692333969717278</string>
		<key>run_input_hash</key>
		<string>2511242229472453160</string>
		<key>run_directories</key>
		<string>CH3SH_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2612108</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
