<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>17945679359122010125</string>
		<key>run_input_hash</key>
		<string>5885129944034392185</string>
		<key>run_directories</key>
		<string>Water_dimer_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>121520</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
