<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>3084572978252356465</string>
		<key>run_input_hash</key>
		<string>17430420992429697544</string>
		<key>run_directories</key>
		<string>C2H3_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2274264</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
