<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>15855481769693493522</string>
		<key>run_input_hash</key>
		<string>16190822491176254572</string>
		<key>run_directories</key>
		<string>CH3COOH_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3343185</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
