<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14214887871564712003</string>
		<key>run_directories</key>
		<string>CH3CHO_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3214925</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
