<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>11047591857363055853</string>
		<key>run_input_hash</key>
		<string>11906473521338054489</string>
		<key>run_directories</key>
		<string>HDO_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3753285</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
