<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>8712085565411397561</string>
		<key>run_input_hash</key>
		<string>15005265263286251598</string>
		<key>run_directories</key>
		<string>H3CNH2_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2626696</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
